.toggleButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border: none;
  background-color: #cd55abff;
  color: white;
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
  z-index: 2100;
}

.toggleButton.open {
  right: -10px;
  position: absolute;
}

.toggleButton.closed {
  left: -10px;
  position: fixed;
}
